@import "../../styles/utils/vars";
@import "../../styles/utils/mixins";
@import "../../styles/fonts/typography";

.contact {
  background-color: $accent-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;

  &__title {
    @include small-title;
    text-transform: capitalize;
    color: $white-color;
    padding: 0;
    margin: 0 0 20px 0;

    @include onTablet {
      font-size: 40px;
      line-height: 45px;
    }

    @include onDesktop {
      @include regular-title;
    }
  }

  &__info {
    padding: 0;
    margin: 0 0 40px 0;
    @include regular-text;
    font-size: 15px;
    line-height: 20px;
    color: $white-color;
    text-align: center;

    @include onTablet {
      font-size: 20px;
      line-height: 24px;
    }
  }
}