@import "../utils/vars";

@mixin regular-text {
  font-family: $global-font-family;
  font-weight: 300;
}

@mixin semi-bold-text {
  font-family: $global-font-family;
  font-weight: 400;
}

@mixin regular-title {
  font-family: $global-font-family;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
}