$global-font-family: "Montserrat", sans-serif;
$primary-color: #383838;
$secondary-color: #414141;
$text-color-dark: #424242;
$accent-color: #3D948C;
$white-color: #FFFFFF;
$bg-color: var(--bg-color);
$toggler-bg-color: var(--toggler-bg-color);
$toggler-text-color: var(--toggler-text-color);
$services-text-color: var(--services-text-color);
$search-bg-color: var(--search-bg-color);
$search-text-color: var(--search-text-color);
$search-icon-color: var(--search-icon-color);